
.footer
{
    width:100%;
}

.direitos
{
    width:100%;
    text-align:center;
}

.contato
{
    display:flex;
    align-items:center;
    gap:14px;
}

.footer p
{
    margin:14px;
    text-decoration:underline;
}